
/* Basic Styles */

body {
	background-color: #ECEFF1;
	font-family: 'Roboto', sans-serif;
}

#containerBg {
	background-color: #CFD8DC;
	width: 80%;
}

.formContainerBg {
	margin: 5% 35%;
	width: 80%;
}

.jumbotronBg {
	background-color: #455A64;
}

#mapHeader {
	min-height: 400px;
	margin: 0 auto;
	width: 80%;
	position: relative;
	z-index: 0;
}


#protein {
	margin: 0 auto;
	width: 80%;
}

#cardMargin {
	margin-top: 5%;
}

#removeMarginPadding {
	margin: 0;
	padding: 0;
}

.info {
	z-index: 400;
	top: 40%;
	margin: 0;
	color: #FFF;
	text-align: center;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#mc_embed_signup {
 
}

.info h1 {
	font-size: 72px;
}

.info h2 {
	line-height: 100px;
	font-size: 64px;
}

.shadow1 {
	text-shadow: 0px 0px 1px #000;
}

/* D3 Styles */

.link {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

#licensing {
	fill: green;
}

.link.licensing {
	stroke: green;
}

.link.resolved {
	stroke-dasharray: 0,2 1;
}

circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
	font: 10px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}